<app-utilisateur></app-utilisateur>
  <div class="content">
    

    <main>
      <div class="cards">
        <div class="card-single">
          <div>
            <h2>2.000.000</h2>
            <h6>Tickets en attente</h6>
            <!-- <small>Ventes</small> -->
          </div>
          <div>
            <span class="fa fa-clipboard"></span>
          </div>
        </div>

        <div class="card-single">
          <div>
            <h2>+30</h2>
            <small>Tickets</small>
          </div>
          <div>
            <span class="fa fa-newspaper-o"></span>
          </div>
        </div>
 
      

      <div class="composant">
    
        
        


      


