
 <body>
  <div class="container">
      <input type="checkbox" id="flip">
      <div class="cover">
        <div class="front">
          <img src="../assets/images/CARTE.jpg" alt="">
          <div class="text" style="margin-top: 30%;margin-left: 25%;" >
            <span class="text-1">Assurance <br> Carte</span>
            <span class="text-2">Let's get connected</span>
          </div>
        </div>
        <div class="back">
          <img class="backImg" src="../assets/images/CARTE.jpg" alt="">
          <div class="text">
            <span class="text-1">Complete miles of journey <br> with one step</span>
            <span class="text-2">Let's get started</span>
          </div>
        </div>
      </div>
      <div class="forms">
          <div class="form-content">
            <div class="login-form">
              <!-- <div class="title" >Login</div> -->
              <h1 style="text-align: center;">Login</h1>
            <form (ngSubmit)="onSigninSubmit()" [formGroup]="formLogin">
              <div class="input-boxes">
                <div class="input-box">
                  <!-- <i class="fa fa-envelope"></i> -->
               
                  <!-- <input type="text" class="form-control form-control-lg " placeholder="Enter your email" required> -->
                  <input type="email" placeholder="Email" class="form-control form-control-lg " formControlName="email" />
      <span class="warning" *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched">Please enter valide
        email</span>
                </div>
                <div class="input-box">
                  <!-- <i class="fa fa-lock"></i> -->
                  
                  <!-- <input type="password" style="margin-top: 9%;" placeholder="Enter your password" required> -->
                  <input type="password" placeholder="Password" formControlName="password" name="password"  />
                  <!-- <div class="warning"
                    *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched">Password must be 8
                    caractere</div> -->
                </div>
                <div class="text" style="margin-left: 65%;color: gray;margin-top: 9%;"><a href="#">Forgot password?</a></div>
                <div class="button input-box">
                  <input type="submit" value="SIGN IN"  value="Sumbit" [disabled]="!formLogin.valid">
                  <!-- <button type="submit" [disabled]="!formLogin.valid">Sign In</button> -->
                </div>
                <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
              </div>
          </form>
        </div>
          <div class="signup-form">
            <div class="title">Signup</div>
          <form (submit)="onSignUpSubmit()" [formGroup]="formSignUp">
              <div class="input-boxes">
                <div class="input-box">
                  <!-- <i class="fa fa-user"></i> -->
                  <input type="text" placeholder="Enter your name" formControlName="name"required>
                </div>
                <div class="input-box">
                  <!-- <i class="fa fa-envelope"></i> -->
                  <input type="email" placeholder="Email" formControlName="email"  required>
                  <span class="warning" *ngIf="formSignUp.get('email').invalid && formSignUp.get('email').touched">Please
                    enter valide email</span>
                </div>
                <div class="input-box">
                  <!-- <i class="fa fa-lock"></i> -->
                  <input type="password" placeholder="Password"name="password" formControlName="password"/>
      <span class="warning"
      *ngIf="formSignUp.get('password').invalid && formSignUp.get('password').touched">Password must be 6
      caractere</span>
                </div>
                <div class="form-group">
                  <!-- <label for="event_img">User Image</label> -->
                  <input type="file" #filePicker (change)="onImagePicked($event)" class="form-control" id="userimage" placeholder="Enter user image">
                </div>
                <div class="form-group" >
                  <label for="radio">Type : </label>
                  <select class="form-control" style="background-color: #eee;" id="type" formControlName="type" name="type">
                  <option value="utilisateur"  >User</option>
                  <option value="technicien">technicien</option>
                </select>
                </div>
                <div class="button input-box">
                  <input type="submit" >
                </div>
                <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
              </div>
        </form>
      </div>
      </div>
      </div>
    </div>
  </body>
  
  
  
  
  
  
