<app-admin></app-admin>
<div class="content">
    

    <main>
    

        <div class="stock">
            <div class="case">
              <div class="header-case">
                <h2>Users</h2>
                <button class="btn btn-success add-btn"  (click)="onClickShowForm()">ajouter</button>
              </div>
              <div *ngFor="let user of fetchedUser; let i = index">
                
                
              <div class="body-case">
                <div class="all-users">
                  <div class="infos">
                  <img src="assets/images/photo3.jpg" width="50" height="50">
                    <div>
                    <h4>{{user.name}}</h4>
                    <small>{{user.type}}</small>
                   
                  </div>
                  </div>
                  
                <!-- <div class="user-contact">
                  <span class="fa fa-facebook"></span>
                  <span class="fa fa-whatsapp"></span>
                  <span class="fa fa-phone"></span>
                </div> -->
                <div>
                    <!-- <button class="btn" >voir plus</button> -->
                    <button class="btn btn-success add-btn" style="width: 100%;" (click)="onClickShowForm2(user)">voir details</button> 
                </div>
                <div class="model-bg" style="margin-left: -25%;" *ngIf="showUserDetails">
              
                  <a class="close-button" (click)="onClickCloseForm2()">X</a>
                  <div class="edit">
                    <!-- create form -->
                    <form >
                      <h3>User info</h3>
                      <img src="assets/images/photo3.jpg"  style="border-radius: 60%;margin-left: 43%;" width="50" height="50">
                      <div>
                        <h4 style="text-align: center;">{{currentuser.name}}</h4>
                   
                      <h5 style="text-align: center;">{{currentuser.type}}</h5>
                      <h5 style="text-align: center;">{{currentuser.email}}</h5>

                     
                    </div>
                    <button class="btn btn-success add-btn" style="width: 25%;" (click)="onClickShowForm3()">Modifier</button> 
                    <button class="btn btn-success add-btn" style="width: 25%;"  (click)="onDeleteUser(currentuser._id)" >Supprimer</button> 
                
               
                    </form>
                  </div>
              
              
              </div>
               </div> 
              
              </div>
         
            
            </div>
          </div>
          
  </div>
      



     
    
   

    </main>
  </div> 
  <div class="model-bg" *ngIf="showAddUserForm">

    <a class="close-button" (click)="onClickCloseForm()">X</a>
    <div class="edit">
      <!-- create form -->
      <form [formGroup]="formaddUser" (submit)="onAddSubmit()">
        
        <div class="form-group">
     <label for="name">User Name</label>
     <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter user name">
   </div>
   <div class="form-group">
     <label for="email">User Email : </label>
     <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter user email">
   </div>
   <div class="form-group">
     <label for="password">User password : </label>
     <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter user password">
   </div>
   <div class="form-group">
     <label for="radio">User type : </label>
     <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
     <select class="form-control" id="type" formControlName="type" name="type">
     <option value="admin">admin</option>
     <option value="technicien">technicien</option>
     <option value="employe">employé</option>
   </select>
   </div>
   <div class="form-group">
     <label for="event_img">User Image</label>
     <input type="file" #filePicker (change)="onImagePicked($event)" class="form-control" id="userimage" placeholder="Enter user image">
 <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview">
   <img [src]="imagePreview" alt="">
 </div>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
    </div>


</div>



<div class="model-bg" *ngIf="showEditUserForm">

  <a class="close-button" (click)="onClickCloseForm3()">X</a>
  <div class="edit">
    <!-- create form -->
    <form  >
      
           <div class="form-group">
        <label for="name">User Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter user name">
      </div>
      <div class="form-group">
        <label for="email">User Email : </label>
        <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter user email">
      </div>
      <div class="form-group">
        <label for="password">User password : </label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter user password">
      </div>
      <div class="form-group">
        <label for="radio">User type : </label>
        <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
        <select class="form-control" id="type" formControlName="type" name="type">
        <option value="admin">admin</option>
        <option value="manager">technicien</option>
      </select>
      </div>
      <div class="form-group">
        <label for="event_img">User Image</label>
        <!-- <input type="file" #filePicker (change)="onImagePicked($event)" class="form-control" id="userimage" placeholder="Enter user image"> -->
    <!-- <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview">
      <img [src]="imagePreview" alt="">
    </div> -->
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


</div>
