<div style="background-color: #ebf6ff;height: 500%;margin-top: -5%;">
    
   
    
    
    
    
    <div style="margin-left: 23%;">
        <div> <button class="btn btn-success add-btn" style="margin-left: 87%;margin-top:14% ;" (click)="onClickShowForm()">ajouter</button> <input type="button" value="Download PDF" style="margin-top: -6%;" class="btn btn-success" (click)="openPDF()">  </div>
       
    <mat-form-field  style="margin-top: 1%;">
    <mat-label style="color: #008ea1;">Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" style="color: #008ea1;" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div>

    
    <body>
    <div class="container" id="htmlData"> 
        <br>
        <h1 style="color: black;">Liste des tickets non cloturé</h1>
        <br>
      
        <!-- <img src="./../../../../assets/images/1646762400162-assurance-carte-logo.png" style="width:5% ;margin-left: 90%;margin-top:-5%;"> -->
   
        <table mat-table [dataSource]="dataSource" matSort >
           <!-- ID Column -->
      <ng-container matColumnDef="spécialité">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #00a5bb;color: white;"> specialite </th>
        <td mat-cell *matCellDef="let row" style="background-color: white;color: black;"> {{row.ticket_groupe[0].specialite}} </td>
      </ng-container>
  
     <!-- Progress Column -->
     <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #00a5bb;color: white;">description </th>
        <td mat-cell *matCellDef="let row" style="background-color: white;color: black;"> {{row.description}} </td>
      </ng-container>
   
   
  
      <!-- Name Column -->
      <ng-container matColumnDef="Priorité">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #00a5bb;color: white;" >Priorite</th>
        <td mat-cell *matCellDef="let row" style="background-color: white;color: black;" > <div  *ngIf="row.priorite =='Urgent'"><span class="status-produit color-one"></span>{{row.priorite}}</div> <div  *ngIf="row.priorite =='Moyenne'"><span class="status-produit color-two"></span>{{row.priorite}}</div> <div  *ngIf="row.priorite =='Faible'"><span class="status-produit color-three"></span>{{row.priorite}}</div></td>

    </ng-container>


  
      <!-- Fruit Column -->
      <ng-container matColumnDef="Date de création">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #00a5bb;color: white;font-weight: 550;"> 	Date de création </th>
        <td mat-cell *matCellDef="let row" style="background-color: white;color: black;"> {{row.Datecreaation|date:'medium'}} </td>
      </ng-container>
      <ng-container matColumnDef="affecter" style="margin-left: 10%;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #00a5bb;color: white;"> 	affecter </th>
        <td mat-cell *matCellDef="let row" style="background-color: white;color: black;"> <button class="btn btn-primary add-btn" style="width: 100%;" (click)="onClickShowAffecter(row)" >affecter</button> </td>
      </ng-container>
      <ng-container matColumnDef="consulter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #00a5bb;color: white;"> 	consulter </th>
        <td mat-cell *matCellDef="let row" style="background-color: white;color: black;"> <button class="btn btn-primary add-btn" style="width: 100%;" (click)="onClickShowForm2(row)" >consulter</button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6" style="background-color: white;color: black;">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <br>
    <h3 style="margin-left: 63%;font-weight: 500;">DH: {{date|date:'short'}}</h3>
</div>
</body>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" style="background-color: white;color: black;"aria-label="Select page of users"></mat-paginator> -->
 
</div>


</div>

</div>
 
        <!-- <div class="model-bg" style="margin-left: -25%;" *ngIf="showTicketDetails">
              
          <a class="close-button" (click)="onClickCloseForm2()">X</a>
          <div class="edit">
       
            <form >
              <h3>Ticket info</h3>
              <div>
                
                <h4 style="text-align: center;">{{currentticket.description}}</h4>
           
              <h5 style="text-align: center;">Etat:{{currentticket.etat}}</h5>
            
              <h5 style="text-align: center;">Demandeur:{{user.name}}</h5>
              <h5 style="text-align: center;">technicien:{{technicienaffecte.name}}</h5>
              <button class="btn btn-success add-btn" style="width: 25%;" (click)="onClickShowFormEdit()">Modifier</button> 
              <button class="btn btn-success add-btn" style="width: 25%;"  (click)="onDeleteTiket(currentticket._id)" >Supprimer</button> 
              <button type="submit" class="btn btn-primary" (click)="onClickShowcloturation(currentticket)">Cloturer</button>
            </div>
         
       
            </form>
          </div>
      
      
      </div>
     -->
     <div class="model-bg" style="margin-left: -25%;" *ngIf="showTicketaffectation">

        <a class="close-button" (click)="onClickCloseAffecter()">X</a>
        <div class="edit">
          <!-- create form -->
          <form [formGroup]="formAffecter" (submit)="oneEditAffecter(currentticket._id)" >
            <div class="form-group">
              <label for="radio">Techniciens : </label>
              <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
              <select  class="form-control" id="type" formControlName="technicienid" name="type">
                
              <option  *ngFor="let technicien of listtechniciens; let i = index" value={{technicien._id}}>{{technicien.name}}</option>
         
              <!-- <option value="manager">manager</option> -->
            </select>
            </div>
         
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    
    
    </div>
    
    
    <div class="model-bg" style="margin-left: -25%;" *ngIf="showTicketcloturation ">

      <a class="close-button" (click)="onClickClosecloturation()">X</a>
      <div class="edit">
        <!-- create form -->
        <form [formGroup]="formclourer" (submit)="onCloturerTiket(currentticket._id)" >
          <div class="form-group">
            <label for="note">Comment le problème a été résolu ?  </label>
           <textarea class="form-control" id="note" formControlName="note" placeholder="decrit la solution"></textarea>
          </div>
       
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  
  
  </div>
  
  
<!-- </div> -->

<div class="model-bg"style="margin-left: -25%;" *ngIf="showAddUserForm">

  <a class="close-button" (click)="onClickCloseForm()">X</a>
  <div class="edit">
    <!-- create form -->
    <form [formGroup]="formaddTicket" (submit)="onAddSubmit()">
      
      <div class="form-group">
   <label for="description">Le problème</label>
   <textarea  class="form-control" id="description" formControlName="description" placeholder="decrit le problème">
   </textarea>
 </div>
 <!-- <div class="form-group">
   <label for="email">User Email : </label>
   <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter user email">
 </div>
 <div class="form-group">
   <label for="password">User password : </label>
   <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter user password">
 </div> -->
 <div class="form-group">
   <label for="radio">priorité : </label>
   <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
   <select class="form-control" id="priorite" formControlName="priorite" name="priorite">
   <option value="Faible">faible</option>
   <option value="Moyenne">moyenne</option>
   <option value="Urgent">urgent</option>
 </select>
 </div>
 <div class="form-group">
  <label for="radio">problème de: </label>
  <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
  <select class="form-control" id="specialite" formControlName="specialite" name="specialite">
  <option   *ngFor="let groupe of fetchedgroupes" value={{groupe._id}}>{{groupe.specialite}}</option>
 
</select>
</div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>


</div>


<div class="model-bg"style="margin-left: -25%;" *ngIf="showEditTicketForm">

  <a class="close-button" (click)="onClickCloseFormEdit()">X</a>
  <div class="edit">
    <!-- create form -->
    <form [formGroup]="formeditTicket" (submit)="onEditSubmit(currentticket._id)">
      
      <div class="form-group">
   <label for="description">Le problème</label>
   <textarea  class="form-control" id="description" formControlName="description" placeholder="decrit le problème">
   </textarea>
 </div>
 <!-- <div class="form-group">
   <label for="email">User Email : </label>
   <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter user email">
 </div>
 <div class="form-group">
   <label for="password">User password : </label>
   <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter user password">
 </div> -->
 <div class="form-group">
   <label for="radio">priorité : </label>
   <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
   <select class="form-control" id="priorite" formControlName="priorite" name="priorite">
   <option value="Faible">faible</option>
   <option value="Moyenne">moyenne</option>
   <option value="Urgent">urgent</option>
 </select>
 </div>
 <div class="form-group">
  <label for="radio">problème de: </label>
  <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
  <select class="form-control" id="specialite" formControlName="specialite" name="specialite">
  <option   *ngFor="let groupe of fetchedgroupes" value={{groupe._id}}>{{groupe.specialite}}</option>
 
</select>
</div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>



</div>

<div class="model-bg" style="margin-left: -25%;margin-top: 0%;" *ngIf="showTicketDetails">
              
  <a class="close-button" (click)="onClickCloseForm2()">X</a>
  <div class="edit" style="margin-top: -5%;">
    <!-- create form -->
    <!-- <form >
      <h3>Ticket info</h3>
     
      <div>
        
        <h4 style="text-align: center;">{{currentticket.description}}</h4>
       
      <h5 style="text-align: center;">Etat:{{currentticket.etat}}</h5>
    
      <h5 style="text-align: center;">Demandeur:{{user.name}}</h5>
      <h5 style="text-align: center;">technicien:{{technicienaffecte.name}}</h5>
      <h5 style="text-align: center;">solution :{{currentticket.note}}</h5>
      <button class="btn btn-success add-btn" style="width: 25%;"  (click)="onDeleteTiket(currentticket._id)" >Supprimer</button> 
</div>


    </form> -->
    <div id="generic_price_table" style="margin-top: 0%;">   
      <section>
              <div class="container">
                  <div class="row">
                      <div class="col-md-22">
                          <!--PRICE HEADING START-->
                          <!-- <div class="price-heading clearfix">
                              <h3>Ticket info</h3>
                          </div> -->
                          <!--//PRICE HEADING END-->
                      </div>
                  </div>
              </div>
              <div class="container">
                  
                  <!--BLOCK ROW START-->
                  <div class="row">
                      <div class="col-md-12">
                      
                        <!--PRICE CONTENT START-->
                          <div class="generic_content clearfix">
                              
                              <!--HEAD PRICE DETAIL START-->
                              <div class="generic_head_price clearfix">
                              
                                  <!--HEAD CONTENT START-->
                                  <div class="generic_head_content clearfix">
                                  
                                    <!--HEAD START-->
                                      <div class="head_bg"></div>
                                      <div class="head">
                                          <span>{{currentticket.etat}}</span>
                                      </div>
                                      <!--//HEAD END-->
                                      
                                  </div>
                                  <!--//HEAD CONTENT END-->
                                  
                                  <!--PRICE START-->
                                  <div class="generic_price_tag clearfix">	
                                      <span class="price">
                                          <span >{{currentticket.description}}</span>
                                          <!-- <span class="currency">99</span> -->
                                          <!-- <span class="cent">{{currentticket.description}}</span> -->
                                          <!-- <span class="month">/MON</span> -->
                                      </span>
                                  </div>
                                  <!--//PRICE END-->
                                  
                              </div>                            
                              <!--//HEAD PRICE DETAIL END-->
                              
                              <!--FEATURE LIST START-->
                              <div class="generic_feature_list">
                                <ul>
                                    
                                    
                                      <li><span>Demandeur:</span> {{user.name}}</li>
                                      <li><span>technicien:</span> {{technicienaffecte.name}}</li>
                                      <!-- <li><span>Solution:</span> {{currentticket.note}}</li> -->
                                  </ul>
                              </div>
                              <div class="generic_feature_list">
                                <ul>
                                    
                                    
                                      
                                      <li style="background-color: #afe4ea"> <button style="background: none; color: white;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;" (click)="onClickShowFormEdit()">modifier</button></li>
                                      <li style="background-color: #00a5bb"> <button style="background: none; color: white;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;" (click)="onClickShowcloturation(currentticket)">cloturer</button></li>
                                      <li style="background-color: #008ea1"> <button style="background: none; color: white;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;" (click)="onDeleteTiket(currentticket._id)">supprimer</button></li>
                                    </ul>
                              </div>
                              <!--//FEATURE LIST END-->
                              
                              <!--BUTTON START-->
                               <!-- <div class="btn-group">
                                <button (click)="onDeleteTiket(currentticket._id)">supprimer</button>
                                <button  (click)="onClickShowFormEdit()">modifier</button>
                                <button (click)="onClickShowcloturation(currentticket)">cloturer</button>
                              </div> -->
                    
                              <!--//BUTTON END-->
                              
                          </div>
                          <!--//PRICE CONTENT END-->
                              
                      </div>
                
                    
                  </div>	
                  <!--//BLOCK ROW END-->
                  
              </div>
          </section>             
        <!-- <footer>
            <a class="bottom_btn" href="#">&copy; MrSahar</a>
          </footer> -->
      </div>