<input type="button" value="Download PDF" style="margin-top: 5%;;margin-left: 90%;" class="btn btn-success" (click)="openPDF()">
<div style="margin-left: 25%;margin-top: 5%;">
<div id="htmlData">
  <br>
<table class="graph"  > 
	<!-- <caption>Bar Chart HTML From HTML Table</caption> -->
	<thead>
		<tr>
			<th scope="col">Item</th>
			<th scope="col">Percent</th>
		</tr>
	</thead><tbody>
		<tr *ngFor="let user of fetchedUser; let i = index"
    style="height:{{(fetchedusertickettotal[i].numberOftickets-user.numberOftickets)*100/fetchedusertickettotal[i].numberOftickets|number}}%">
			<th scope="row">{{user.name}}</th>
			<!-- <td><span>{{(fetchedusertickettotal[i].numberOftickets-user.numberOftickets)*100/fetchedusertickettotal[i].numberOftickets|number}}% {{fetchedUserperdate[0].user_ticket[0].averageTime}}</span></td>
       -->
       <td><span>{{(fetchedusertickettotal[i].numberOftickets-user.numberOftickets)*100/fetchedusertickettotal[i].numberOftickets|number}}%</span><span style="margin-top:5% ;"> {{fetchedUserperdate[i].user_ticket[0].averageTime}} H</span></td>
		</tr>
		<!-- <tr style="height:23%">
			<th scope="row">Medium</th>
			<td><span>23%</span></td>
		</tr>
		<tr style="height:7%">
			<th scope="row">Tumblr</th>
			<td><span>7%</span></td>
		</tr>
		<tr style="height:38%">
			<th scope="row">Facebook</th>
			<td><span>38%</span></td>
		</tr>
		<tr style="height:35%">
			<th scope="row">Youtube</th>
			<td><span>35%</span></td>
		</tr>
		<tr style="height:30%">
			<th scope="row">LinkedIn</th>
			<td><span>30%</span></td>
		</tr>
		<tr style="height:5%">
			<th scope="row">Twitter</th>
			<td><span>5%</span></td>
		</tr>
		<tr style="height:20%">
			<th scope="row">Other</th>
			<td><span>20%</span></td>
		</tr> -->
	</tbody>
</table>
<h3 style="margin-left: 17%;">Avancement des techniciens</h3>
</div>
</div>




  
  <div >
    <div class="lable"><span></span> No of appointment</div>
        <div class="chart">

            <div class="bar-9" style="height: 20%;"><span>2</span><label>User1</label></div>
            <div class="bar-9"><span>9</span><label>User2</label></div>
            <div class="bar-5"><span>5</span><label>User3</label></div>
            <div class="bar-19"><span>19</span><label>User4</label></div>
            <div class="bar-29"><span>29</span><label>User5</label></div>
            <div class="bar-2"><span>2</span><label>User6</label></div>
            <div class="bar-3"><span>3</span><label>User7</label></div>
                            
        </div>

     </div>