table {
  width: 100%;
  
}

.mat-form-field {
  font-size: 14px;
  width: 70%;
}

td, th {
  width: 20%;
}
.model-bg{
  z-index: 10000;
  position: fixed;
  top: 0;
  background-color: #00000062;
  width: 100vw;
  height: 100vh;
}


.edit{
width: 400px;
position: absolute;
right: 35%;
top: 2%;
padding: 15px;
background-color: rgb(241, 238, 238);
border-radius: 10px;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.edit label{
margin-top: 10px;
margin-bottom: 10px;
}

.edit button{
margin-top: 10px;

}

.image-preview{
height: 135px;
  width: 209px;
  margin-top: 10px;
}
.image-preview img{
height: 100%;
width: 100%;
}

.close-button{
font-size: 20px;
z-index: 10000;
position: fixed;
right: 33%;
top: 10%;
color: #fff;
width: 30px;
height: 30px;
border: none;
text-align: center;
line-height: 30px;
cursor: pointer;
text-decoration: none;
}
header p span{
text-align: center;
padding-right: 0rem;
}
.content{
width: 100%;
margin-left: 0rem !important;

}
header{
width: 100% !important;
left: 0 !important;
}
#menu:checked ~ .sidebar{
  left: 0 !important;
  z-index: 100;
  width: 45%;
}
#menu:checked ~ .sidebar li a {
padding-left: 1rem;
}
#menu:checked ~ .sidebar .sidebar-brand,
#menu:checked ~ .sidebar li {
padding-left: 2rem;
text-align: left;
}
#menu:checked ~ .sidebar .sidebar-brand, h2 span:last-child,
#menu:checked ~ .sidebar li a span:last-child {
display: inline;
}
#menu:checked ~ .content{
margin-left: 0rem !important;
}
.add-btn{
margin-top: 2%;
margin-left: 5%;
width: 10%;
}

.model-bg{
z-index: 10000;
position: fixed;
top: 0;
background-color: #00000062;
width: 100vw;
height: 100vh;
}


.edit{
width: 400px;
position: absolute;
right: 35%;
top: 16%;
padding: 15px;
background-color: rgb(241, 238, 238);
border-radius: 10px;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.edit label{
margin-top: 10px;
margin-bottom: 10px;
}
.designbutton{
background: none; 
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;

}


.edit button{
margin-top: 10px;

}

.image-preview{
height: 135px;
width: 209px;
margin-top: 10px;
}
.image-preview img{
height: 100%;
width: 100%;
}

.close-button{
font-size: 20px;
z-index: 10000;
position: fixed;
right: 33%;
top: 10%;
color: #fff;
width: 30px;
height: 30px;
border: none;
text-align: center;
line-height: 30px;
cursor: pointer;
text-decoration: none;
}

#generic_price_table{
background-color: #f0eded;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price{
background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
  color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
  color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
  color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
  color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{	
color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
background-color: #E4E4E4;
border-left: 5px solid  #008ea1;
}

#generic_price_table .generic_content .generic_price_btn button{
border: 1px solid #008ea1; 
  color: #008ea1;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
border-color: #2196f3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)  #008ea1;
color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn button,
#generic_price_table .generic_content.active .generic_price_btn button{
background-color:  #008ea1;
color: #fff;
} 
#generic_price_table{
margin: 50px 0 50px 0;
  font-family: 'Raleway', sans-serif;
}
.row .table{
  padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
overflow: hidden;
position: relative;
text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
  border-style: solid;
  border-width: 90px 1411px 23px 399px;
position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
padding-top: 40px;
position: relative;
z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
  font-family: "Raleway",sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
  display: inline-block;
  font-family: "Lato",sans-serif;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
  font-family: "Lato",sans-serif;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 60px;
  padding: 0;
  vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
  display: inline-block;
  font-family: "Lato",sans-serif;
  font-size: 24px;
  font-weight: 400;
  vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
  font-family: "Lato",sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
list-style: none;
padding: 0;
margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
font-family: "Lato",sans-serif;
font-size: 18px;
padding: 15px 0;
transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
-ms-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
-webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn button{
  border-radius: 50px;
-moz-border-radius: 50px;
-ms-border-radius: 50px;
-o-border-radius: 50px;
-webkit-border-radius: 50px;
  display: inline-block;
  font-family: "Lato",sans-serif;
  font-size: 18px;
  outline: medium none;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
-ms-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
#generic_price_table .generic_content{
  margin-bottom:75px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
#generic_price_table .col-md-3{
  float:left;
  width:50%;
}

#generic_price_table .col-md-4{
  float:left;
  width:50%;
}

#generic_price_table .generic_content{
  margin-bottom:75px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
 font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
color: #7885CB;
font-size: 30px;
font-weight: 300;
text-decoration: none;
}
.demo-pic{
margin: 0 auto;
}
.demo-pic:hover{
opacity: 0.7;
}

#generic_price_table_home ul{
margin: 0 auto;
padding: 0;
list-style: none;
display: table;
}
#generic_price_table_home li{
float: left;
}
#generic_price_table_home li + li{
margin-left: 10px;
padding-bottom: 10px;
}
#generic_price_table_home li a{
display: block;
width: 50px;
height: 50px;
font-size: 0px;
}
#generic_price_table_home .blue{
background: #3498DB;
transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
background: #2ECC71;
transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
background: #7F8C8D;
transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
background: #34495E;
transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
background: #E67E22;
transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
background: #9B59B6;
transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
background: #E74C3C;
transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
background: #1ABC9C;
transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
border-bottom: 1px solid #ddd;
margin-bottom: 20px;
padding: 20px;
}
#generic_price_table_home .divider span{
width: 100%;
display: table;
height: 2px;
background: #ddd;
margin: 50px auto;
line-height: 2px;
}
#generic_price_table_home .itemname{
text-align: center;
font-size: 50px ;
padding: 50px 0 20px ;
border-bottom: 1px solid #ddd;
margin-bottom: 40px;
text-decoration: none;
  font-weight: 300;
}
#generic_price_table_home .itemnametext{
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  display: inline-block;
}
#generic_price_table_home .footer{
padding:40px 0;
}

.price-heading{
  text-align: center;
}
.price-heading h1{
color: #666;
margin: 0;
padding: 0 0 50px 0;
}
.demo-button {
  background-color: #333333;
  color: #ffffff;
  display: table;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium ;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.bottom_btn{
background-color: #333333;
  color: #ffffff;
  display: table;
  font-size: 28px;
  margin: 60px auto 20px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
}
.demo-button:hover{
background-color: #666;
color: #FFF;
text-decoration:none;

}
.bottom_btn:hover{
background-color: #666;
color: #FFF;
text-decoration:none;
}
.btn{
  background: linear-gradient( #3bbbb4 15%, #2596be 100%);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.status-produit.color-one{
  background:  #ec1c24;
}
.status-produit.color-two{
  background:  #fff200;
}
.status-produit.color-three{
  background:  #6fba3d;
}
.status-produit.color-four{
  background:  #00a8f3;
}
.status-produit.color-five{
  background:  #b83dba;
}
.status-produit{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 1rem;
  border-radius: 50%; 
}

