<app-technicien></app-technicien>
<div class="content">
    

    <main>
    

      <div >
        <div >
          <div class="case">
            <div class="header-case">
              <h2>Listes tickets</h2>
              <button class="button">voir plus<span class="fa fa-arrow-right"></span></button>
            </div>
            <div class="body-case">
              <div class="tableau">
                <table width="100%">
                  <thead>
                    <tr>
                      <td>Number</td>
                      <td>Description</td>
                      <td>Priorité</td>
                      <td>assigner au </td>
                      <td>Demandeur</td>
                      <td>Etat</td>
                      <td>affecter</td>
                      <td>consulter</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td><span class="status-produit color-one"></span>@mdo</td>
                    </tr>
                    <tr>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td><span class="status-produit color-two"></span>@fat</td>
                    </tr>
                    <tr>
                      <td>Larry the Bird</td>
                      <td>@twitter</td>
                      <td><span class="status-produit color-three"></span>@twitter</td>
                    </tr>
                     <tr>
                      <td>Larry the Bird</td>
                      <td>@twitter</td>
                      <td><span class="status-produit color-four"></span>@twitter</td>
                    </tr>
                     <tr>
                      <td>Larry the Bird</td>
                      <td>@twitter</td>
                      <td><span class="status-produit color-five"></span>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>



     
    



