<app-technicien></app-technicien>
<!--  
  <div class="content">
    

    <main>
      <div class="cards">
        <div class="card-single">
          <div>
            <h2>{{techticketscount}}</h2>
            <h6>Tickets attribués</h6>
           
          </div>
          <div>
            <span class="fa fa-ticket"></span>
          </div>
        </div>

        <div class="card-single">
          <div>
            <h2>{{AllticketsCount}}</h2>
            <small>les tickets</small>
          </div>
          <div>
            <span class="fa fa-ticket"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h2>50</h2>
            <small>Demande</small>
          </div>
          <div>
            <span class="fa fa-question-circle-o"></span>
          </div>
        </div>
        <div class="card-single">
          <div>
            <h2>20k</h2>
            <small>Technicien</small>
          </div>
          <div>
            <span class="fa fa-group"></span>
          </div>
        </div>
      </div>

      <div class="composant">
       -->

       <div class="content" style="   margin-top: 50px;
       background: #ebf6ff;
       padding: 2rem 1.5rem;
       min-height: calc(100vh);">
         
     
         <div > 
           <div class="cards">
             <div class="card-single">
              
                <div>
                  <h2>{{techticketscount}}</h2>
                  <h6>Tickets attribués</h6>
                 
                </div>
                <div>
                  <span class="fa fa-ticket"></span>
                </div>
              </div>
           
     
             <div class="card-single">
              <div>
                <h2>{{AllticketsCount}}</h2>
                <small>les tickets</small>
              </div>
               <div>
                 <span class="fa fa-ticket"></span>
               </div>
             </div>
             <div class="card-single">
              <div>
                <h2>{{demandes}}</h2>
                <small>le demandes</small>
              </div>
              <div>
                <span class="fa fa-question-circle-o"></span>
              </div>
             </div>
             <div class="card-single">
              <div>
                <h2>200</h2>
                <small>Technicien</small>
              </div>
              <div>
                <span class="fa fa-group"></span>
              </div>
            </div>
            
           </div>
     
           <div class="composant">
             <!-- <div class="ventes">
               <div class="case">
                 <div class="header-case">
                   <h2>Listes produits</h2>
                   <button class="button">voir plus<span class="fa fa-arrow-right"></span></button>
                 </div>
                 <div class="body-case">
                   <div class="tableau">
                     <table width="100%">
                       <thead>
                         <tr>
                           <td>First</td>
                           <td>Last</td>
                           <td>Handle</td>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td>Mark</td>
                           <td>Otto</td>
                           <td><span class="status-produit color-one"></span>@mdo</td>
                         </tr>
                         <tr>
                           <td>Jacob</td>
                           <td>Thornton</td>
                           <td><span class="status-produit color-two"></span>@fat</td>
                         </tr>
                         <tr>
                           <td>Larry the Bird</td>
                           <td>@twitter</td>
                           <td><span class="status-produit color-three"></span>@twitter</td>
                         </tr>
                          <tr>
                           <td>Larry the Bird</td>
                           <td>@twitter</td>
                           <td><span class="status-produit color-four"></span>@twitter</td>
                         </tr>
                          <tr>
                           <td>Larry the Bird</td>
                           <td>@twitter</td>
                           <td><span class="status-produit color-five"></span>@twitter</td>
                         </tr>
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>
      -->
     
 <div class="stock">
  <div class="case">
    <div class="header-case">
      <h2>Techniciens du même équipe</h2>
      <button class="btn">voir plus<span class="fa fa-arrow-right"></span></button>
    </div>
    
    <div class="body-case" *ngFor="let technicien of listtechniciens; let i = index" >
      <div class="all-users">
        <div class="infos">
        <img src="./../../../../assets/images/{{technicien.user_img}}" width="40" height="40">
          <div>
          <h4>{{technicien.name}}</h4>
          <small>{{technicien.email}}</small>
        </div>
        </div>
        
      <div class="user-contact">
        <span class="fa fa-facebook"></span>
        <span class="fa fa-whatsapp"></span>
        <span class="fa fa-phone"></span>
      </div>
    </div>

     

     

    
     
    </div>
   
  </div>
</div>
<div class="stock">
  <div class="case">
   
    <div class="body-case">
    
      <img src="./../../../../assets/images/{{user.user_img}}" alt="Admin" class="rounded-circle p-1 bg-primary" width="110" height="100" style="margin-left: 30%;">
      <div class="mt-3">
        <h4 style="text-align: center;">{{user.name}}</h4>
        <p  style="text-align: center;"class="text-secondary mb-1">{{user.type}}</p>
        <br>
        <br>
        <h6 class="mb-0"><img src="../../../assets/images/icons8-email-64.png"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe me-2 icon-inline">Email :{{user.email}}</h6>
           
        <br>
        <hr>
      
       
       
       
          <div >
           
          </div>
   <br>
   <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9 text-secondary">
      <!-- <button  class="btn btn-primary px-4" (click)=" onClickShowForm()"value="modifier profile"></button> -->
      <button  style="background-color: rgba(39,154,189,255);" type="button" class="btn btn-primary" (click)="onClickShowForm()">modifier</button>
    </div>
  </div>
      </div>
   
    </div>
   
  </div>
</div>

<div class="statistique">
  
  <div class="statistique-barre bar1"></div>
  <div class="statistique-barre bar2"></div>
  <div class="statistique-barre bar3"></div>
  <div class="statistique-barre bar4"></div>
  <div class="statistique-barre bar5"></div>
  <div class="statistique-barre bar6"></div>
  <div class="statistique-barre bar5"></div>
  <div class="statistique-barre bar6"></div>
  <div class="statistique-barre bar5"></div>
  <div class="statistique-barre bar6"></div>
  <div class="statistique-barre bar4"></div>
  <div class="statistique-barre bar5"></div>
  <div class="statistique-barre bar4"></div>
</div>
<div class="legende">
  <h4>Legende</h4>
  <table>
    <tr>
      <td><span class="evolution color-one"></span>Riz</td>
    </tr>
    <tr>
      <td><span class="evolution color-two"></span>Mil</td>
    </tr>
  </table>
  <div class="txt-deco">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    </p>
  </div>
</div>
</div>


<div class="calendar">
<div class="mois-annee">
<ul>
  <li class="prev">&#10094;</li>
  <li class="next">&#10095;</li>
  <li>Avril<br><span>2021</span></li>
</ul>
</div>

<ul class="mois">
<li>Mo</li>
<li>Tu</li>
<li>We</li>
<li>Th</li>
<li>Fr</li>
<li>Sa</li>
<li>Su</li>
</ul>

<ul class="jours">
<li>1</li>
<li>2</li>
<li>3</li>
<li>4</li>
<li>5</li>
<li>6</li>
<li>7</li>
<li>8</li>
<li>9</li>
<li><span class="active">10</span></li>
<li>11</li>
<li>12</li>
<li>13</li>
<li>14</li>
<li>15</li>
<li>16</li>
<li>17</li>
<li>18</li>
<li>19</li>
<li>20</li>
<li>21</li>
<li>22</li>
<li>23</li>
<li>24</li>
<li>25</li>
<li>26</li>
<li>27</li>
<li>28</li>
<li>29</li>
<li>30<li>
</ul>
</div>
</div></div>
<div class="model-bg" *ngIf="showEditUserForm">

<a class="close-button" (click)=" onClickCloseForm()">X</a>
<div class="edit">
<!-- create form -->
<form [formGroup]="formEdit" (submit)="oneEditSubmit()">
<div class="form-group">
    <label for="name">User Name </label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter user name">
  </div>
  <div class="form-group">
    <label for="email">User Email : </label>
    <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter user email">
  </div>
  <div class="form-group">
    <label for="password">User password : </label>
    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter user password">
  </div>

  <div class="form-group">
    <label for="event_img">User Image</label>
    <input type="file" #filePicker (change)="onImagePicked2($event)" class="form-control" id="userimage" placeholder="Enter user image">
    <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview">
      <img [src]="imagePreview" alt="">
    </div>
  </div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>


</div>
