<div class="composant">
    <input type="checkbox" id="menu" name="">
    <div class="sidebar">
      <div class="sidebar-brand">
        <h2><span class="fa fa-user-o"></span>Carte assurance</h2>
      </div>
  
      <div class="sidebar-menu">
        <ul>
          <li>
            <a  [routerLinkActive]="'active'" routerLink="/utilisateur/mainuser"><span class="fa fa-home"></span><span>Accueil</span></a>
          </li>
          <li>
            <a [routerLinkActive]="'active'" routerLink="/utilisateur/ticket"><span class="fa fa-clipboard"></span><span>Tickets</span></a>
          </li>
        
          
          <!-- <li>
            <a href=""><span class="fa fa-tasks"></span><span>Taches</span></a>
          </li>
          <li>
            <a href=""><span class="fa fa-th-large"></span><span>Blog</span></a>
          </li>
        
          <li>
            <a href=""><span class="fa fa-address-book"></span><span>A-propos</span></a>
          </li>
        
          <li>
            <a href=""><span class="fa fa-money"></span><span>Bilans</span></a>
          </li>
          <li>
            <a href=""><span class="fa fa-registered"></span><span>Enregistrement</span></a>
          </li> -->
  
        
        </ul>
      </div>
    </div>
  
  
  
    <div class="content">
      
      <header>
        <p><label for="menu"><span class="fa fa-bars"></span></label><span class="accueil">Accueil</span></p>
  
        <div class="search-wrapper">
          <span class="fa fa-search"></span>
          <input type="search" name="" placeholder="recherche" />
        </div>
  
        <div class="user-wrapper" id="dropdown">
          <!-- <div>
            <h4>Alassane</h4>
            <small>Admin</small>
          </div> -->
          
          <img src="assets/images/photo3.jpg" width="40" height="40" class="logo-admin">
          <div class="dropdown-content">
          <p>Mon profil</p>
          <p>Deconnexion</p>
          </div>
          
        </div>
      </header>
      
   
  
  

