
<app-admin></app-admin>
<div class="content">
    

    <main>
    

      <div >
        <div >
          <div class="case">
            <div class="header-case">
              <h2>Liste des Groupes</h2>
              <button style="background-color: rgba(39,154,189,255);" type="button" class="btn btn-primary" (click)="onClickShowForm()">Ajouter</button>
            </div>
            <div class="body-case">
              <div class="tableau">
                <table width="100%">
                  <thead>
                    <tr>
                      <!-- <th>Number</th> -->
                      <th>numero du groupe</th>
                      <td>Spécialité</td>
                     
                      <!-- <td>ajouter membre</td> -->
                      <td>consulter les membres</td>
                      <td>operations</td>
                    
                      
                     
                    </tr>
                  </thead>
                  <tbody>
               
                    <tr  *ngFor="let ticket of fetchedTicket; let i = index" >
                      <td>{{i+1}}</td>
                      <td>{{ticket.specialite}}</td>
                   
                     
                     
                      
                      <!-- <td><button class="btn btn-success add-btn" style="width: 100%;"  >ajouter membre</button> </td> -->
                      <td><button style="background-color: #3abab4" type="button" class="btn btn-primary" (click)="onClickShowFormtechniciens(ticket._id)" >consulter les membres</button> </td>
                      <td><button style="background-color: rgba(39,154,189,255)" type="button" class="btn btn-primary" (click)="onClickShowFormEdit(ticket._id)"><i  class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button style="background-color: rgba(39,154,189,255)" type="button" class="btn btn-primary" (click)="onClickDeleteGroupe(ticket._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                         </td>
                      <!-- <td><span class="status-produit color-two"></span>fatt</td> -->
                 
              
                      <!-- <td><span class="status-produit color-three"></span>twitter</td> -->
                    
                   
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>


        <div class="model-bg" style="margin-left: -25%;"*ngIf="showAddUserForm">

            <a class="close-button" (click)="onClickCloseForm()">X</a>
            <div class="edit">
              <!-- create form -->
              <form [formGroup]="formaddGroupe" (submit)="onAddSubmit()">
               
                <div class="form-group">
             <label for="name">Spécialite</label>
             <input type="text" class="form-control" id="specialite" formControlName="specialite" placeholder="Entrer specialite">
           </div>
          
         
         
          
           <button type="submit" class="btn btn-primary">ajouter</button>
         </form>
            </div>
        
        
        </div>
        

        
<div class="model-bg"style="margin-left: -25%;" *ngIf="showEditGroupForm">

    <a class="close-button" (click)="onClickCloseFormEdit()">X</a>
    <div class="edit">
      <!-- create form -->
      <form [formGroup]="formEditGroupe" (submit)="onEditSubmit(cuurentgroupe)">
        
        <div class="form-group">
     <label for="description">spécialite  </label>
     <textarea  class="form-control" id="specialite" formControlName="specialite" placeholder="Spécialite">
     </textarea>
   </div>
   
  
  
   <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    </div>
  
  </div>
  
        
<div class="model-bg"style="margin-left: -25%;" *ngIf="showMembreForm">
  <a class="close-button" (click)="onClickCloseFormtechniciens()">X</a>
  <!-- <a class="close-button" (click)="onClickCloseFormtechniciens()">X</a>
  <div class="edit">
 
    <form >
      
      <div class="form-group">
   <label for="membres">Membres </label>
  
   <tr  *ngFor="let technicien of listtechniciens; let i = index" >
    <td>{{technicien.name}} email: {{technicien.email}}  </td>
 
    </tr>
 </div>
</form>



  </div> -->

  <div class="edit" style="margin-top: -5%;">
    <!-- create form -->
    <!-- <form >
      <h3>Ticket info</h3>
     
      <div>
        
        <h4 style="text-align: center;">{{currentticket.description}}</h4>
       
      <h5 style="text-align: center;">Etat:{{currentticket.etat}}</h5>
    
      <h5 style="text-align: center;">Demandeur:{{user.name}}</h5>
      <h5 style="text-align: center;">technicien:{{technicienaffecte.name}}</h5>
      <h5 style="text-align: center;">solution :{{currentticket.note}}</h5>
      <button class="btn btn-success add-btn" style="width: 25%;"  (click)="onDeleteTiket(currentticket._id)" >Supprimer</button> 
</div>


    </form> -->
    <div id="generic_price_table" style="margin-top: 0%;">   
      <section>
              <div class="container">
                  <div class="row">
                      <div class="col-md-22">
                          <!--PRICE HEADING START-->
                          <!-- <div class="price-heading clearfix">
                              <h3>Ticket info</h3>
                          </div> -->
                          <!--//PRICE HEADING END-->
                      </div>
                  </div>
              </div>
              <div class="container">
                  
                  <!--BLOCK ROW START-->
                  <div class="row">
                      <div class="col-md-12">
                      
                        <!--PRICE CONTENT START-->
                          <div class="generic_content clearfix">
                              
                              <!--HEAD PRICE DETAIL START-->
                              <div class="generic_head_price clearfix">
                              
                                  <!--HEAD CONTENT START-->
                                  <div class="generic_head_content clearfix">
                                  
                                    <!--HEAD START-->
                                      <div class="head_bg"></div>
                                      <div class="head">
                                          <span>Membre</span>
                                      </div>
                                      <!--//HEAD END-->
                                      
                                  </div>
                                  <!--//HEAD CONTENT END-->
                                  
                                  <!--PRICE START-->
                                  <div class="generic_price_tag clearfix">	
                                      <span class="price">
                                          <span ></span>
                                          <!-- <span class="currency">99</span> -->
                                          <!-- <span class="cent">{{currentticket.description}}</span> -->
                                          <!-- <span class="month">/MON</span> -->
                                      </span>
                                  </div>
                                  <!--//PRICE END-->
                                  
                              </div>                            
                              <!--//HEAD PRICE DETAIL END-->
                              
                              <!--FEATURE LIST START-->
                              <div class="generic_feature_list">
                                <ul>
                                    
                                    
                                      <li  *ngFor="let technicien of listtechniciens; let i = index"><span>{{technicien.name}}  :  </span> <img src="../../../assets/images/icons8-email-64.png"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe me-2 icon-inline">{{technicien.email}}</li>
                                      <!-- <li><span>technicien:</span> {{technicienaffecte.name}}</li> -->
                                      <!-- <li><span>Solution:</span> {{currentticket.note}}</li> -->
                                  </ul>
                              </div>
                              <!--//FEATURE LIST END-->
                              
                              <!--BUTTON START-->
                              <!-- <div class="generic_price_btn clearfix">
                                <button (click)="onDeleteTiket(currentticket._id)">supprimer</button>
                               
                              </div> -->
                              <!--//BUTTON END-->
                              
                          </div>
                          <!--//PRICE CONTENT END-->
                              
                      </div>
                
                    
                  </div>	
                  <!--//BLOCK ROW END-->
                  
              </div>
          </section>             
        <!-- <footer>
            <a class="bottom_btn" href="#">&copy; MrSahar</a>
          </footer> -->
      </div>
  </div>


</div>




  