<app-technicien></app-technicien>
<div class="content">
    

  <main>
  

    <div >
      <div >
        <div class="case">
          <div class="header-case">
            <h2>les Demandes</h2>
            <button class="button" (click)="onClickShowForm()">ajouter<span class="fa fa-arrow-right"></span></button>
            
          </div>
          <div class="body-case">
            <div class="tableau">
              <table width="100%">
                <thead>
                  <tr>
                    <!-- <th>Number</th> -->
                    <th>Demande</th>
                    <th>Etat</th>
                 <th>accepter</th>
                    <th>refuser</th>
                   
                  </tr>
                </thead>
                <tbody>
             
                  <tr  *ngFor="let demande of fetchedDemandes; let i = index" >
                   
                    <td>{{demande.contenu}}</td>
                    


                    <td *ngIf="demande.etat=='acceptée'"><img src="./../../../../assets/images/approved.png" width="30" >{{demande.etat}}</td>
                    <td *ngIf="demande.etat=='refusée'"><span class="status-produit color-one"></span>{{demande.etat}}</td>  
                    <td *ngIf="demande.etat=='pending'"><span class="status-produit color-two"></span>{{demande.etat}}</td>  
                  
                    <td><img src="./../../../../assets/images/check.png" width="30" (click)="onacceptdemande(demande._id,demande.ticket_id)"></td>
               
                    <td><img src="./../../../../assets/images/cross.png" width="30" (click)="onrefusedemande(demande._id)"></td>
                  
                  
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

      <div class="model-bg" *ngIf="showAddDemandeForm" >

        <a class="close-button" (click)="onClickCloseForm()">X</a>
        <div class="edit">
          <!-- create form -->
          <form [formGroup]="formaddDemande" (submit)="onAddSubmit()">
            
            <div class="form-group">
                <label for="contenu">Demande </label>
                <!-- <input type="text" class="form-control" id="contenu" formControlName="contenu" placeholder="Enter user name"> -->
                <textarea class="form-control" id="contenu" formControlName="contenu" placeholder="decrit demande"></textarea>
            </div>
              <!-- <div class="form-group">
                <label for="recepteur_id">a : </label>
                <input type="text" class="form-control" id="recepteur_id" formControlName="recepteur_id" placeholder="Enter user email">
              </div> -->
              <div class="form-group">
                <label for="radio">a : </label>
                <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
                <select class="form-control" id="recepteur_id" formControlName="recepteur_id" name="recepteur_id">
                 
                <option *ngFor="let ticket of fetchedtechniciens; let i = index" value={{ticket._id}}>{{ticket.name}}</option>
                
            
              </select>
              </div>
              <div class="form-group">
                <label for="radio">ticket : </label>
                <!-- <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter user type"> -->
                <select class="form-control" id="ticket_id" formControlName="ticket_id" name="ticket_id">
                 
                <option *ngFor="let ticket of fetchedTicket; let i = index" value={{ticket._id}}>{{ticket.description}}</option>
                
            
              </select>
              </div>
           
           
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      
        </div>
      
      
      </div>
      